<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1033992629107-p687ektsjlpvdgjp39pb9qvfpo4fkiv3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1033992629107-p687ektsjlpvdgjp39pb9qvfpo4fkiv3</string>
	<key>API_KEY</key>
	<string>AIzaSyA-1eXNggk4D6NDanRypBept0YZiCfWZOQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1033992629107</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cs485.studyapp</string>
	<key>PROJECT_ID</key>
	<string>study-app-b3ae2</string>
	<key>STORAGE_BUCKET</key>
	<string>study-app-b3ae2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1033992629107:ios:d091ee4b297b1c2e2bb306</string>
	<key>DATABASE_URL</key>
	<string>https://study-app-b3ae2.firebaseio.com</string>
</dict>
</plist>